.navi {
    margin: 10px auto;
    width: 70%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
}

.error {
    color: red;
    font-style: italic;
}

.success {
    color: green;
}